# Política de limpieza, gestión y validación

## A) Documentación de metadatos

In [ ]:
#Para descargar librería elimine el signo de "#" y corra la linea
#Esto es necesario sólo la primera vez que se utiliza en esta computadora

#pip install pandas

In [ ]:
#Para descargar librería elimine el signo de "#" y corra la linea
#Esto es necesario sólo la primera vez que se utiliza en esta computadora

#pip install numpy

In [ ]:
#Para descargar librería elimine el signo de "#" y corra la linea
#Esto es necesario sólo la primera vez que se utiliza en esta computadora

#pip install sweetviz

In [4]:
# cagramos librerías

import pandas as pd
import numpy as np
import sweetviz as sv

In [32]:
#Cargo base de datos desde el repositorio
datos = pd.read_csv("https://raw.githubusercontent.com/CristinaA-Venzor/CURSO_BASE_ANALISIS_CRIMINAL/main/Bases%20de%20datos/FGJ.csv")
#Muestro las 5 primeras filas
datos.head()

,Unnamed: 0,idCarpeta,Año_inicio,Mes_inicio,FechaInicio,Delito,Categoria,Sexo,Edad,TipoPersona,...,Mes_hecho,FechaHecho,HoraHecho,HoraInicio,alcaldia_hechos,municipio_hechos,colonia_datos,fgj_colonia_registro,latitud,longitud
0,1,8828667,2021,Enero,2021-01-01,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,Femenino,59.0,FISICA,...,Diciembre,2020-12-31,22:00:00,00:02:21,LA MAGDALENA CONTRERAS,NaN,LA CRUZ,LA CRUZ,19.309708,-99.234309
1,2,8828674,2021,Enero,2021-01-01,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,Femenino,NaN,FISICA,...,Enero,2021-01-01,00:15:00,00:57:55,MILPA ALTA,NaN,VILLA MILPA ALTA (PBLO),SANTA MARTHA (VILLA MILPA ALTA),19.198153,-99.026277
2,3,8828679,2021,Enero,2021-01-01,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,Femenino,31.0,FISICA,...,Enero,2021-01-01,00:55:00,01:28:32,MILPA ALTA,NaN,SAN SALVADOR CUAUHTENCO (PBLO),SAN SALVADOR CUAUHTENCO SECCION III,19.193027,-99.095006
3,4,8828694,2021,Enero,2021-01-01,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,Femenino,44.0,FISICA,...,Enero,2021-01-01,01:45:00,06:03:38,COYOACAN,NaN,LOS REYES (PBLO),PUEBLO DE LOS REYES,19.336963,-99.152265
4,5,8828698,2021,Enero,2021-01-01,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,Femenino,27.0,FISICA,...,Enero,2021-01-01,06:00:00,07:27:16,GUSTAVO A. MADERO,NaN,LUIS DONALDO COLOSIO,LUIS DONALDO COLOSIO,19.561525,-99.146590

In [6]:
#Genero el reporte de metadatos
analyze_report = sv.analyze(datos)

                                             |      | [  0%]   00:00 -> (? left)

In [20]:
#Visualizamos el archivo .htlm que nos genera el reporte
#puedes revisar en la carpeta de tu computadora que ese archivo está guardado
analyze_report.show_html('report.html', open_browser=True)

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [55]:
#revisamos dimensiones de la base de datos
datos.shape

(77192, 23)

## Ejercicio de metadatos

Responde las siguientes preguntas en un documento de word con base en los metadatos generados

1) ¿Cuál es la columna con más información faltante?
2) ¿Cuál es la columna que nos permite identificar cada incidencia? ¿Hay valores repetidos?
3) ¿En qué alcaldía se cometieron más delitos? ¿Qué columna nos ayuda a idnetificar esto? ¿Por qué?
4) ¿Qué otra información valiosa nos aportan los meta-datos?

## b) Limpieza de datos

### b.1) Imputación de datos

La aparición de datos faltantes es un problema común en la mayoría de
las encuestas llevadas a cabo en distintos ámbitos. El método más sencillo de imputación de datos es establecer el promedio de los valores existentes.

Esto se realiza con el siguiente:

In [15]:
#sumo los datos faltantes de la colulma edad
datos_faltantes = datos['Edad'].isnull().sum()
#calculo el promedio de edad
media = datos["Edad"].mean()
#devuelo como resultado la suma y la media
print(f"Datos faltantes en la columna Edad: {datos_faltantes}, con media: {media}")

Datos faltantes en la columna Edad: 10616, con media: 38.162010334054315

In [57]:
#reemplazo valores faltantes por el valor medio de edad
datos['Edad'].fillna(datos['Edad'].mean(), inplace=True)
#veo los primero datos
datos.head()

,Unnamed: 0,idCarpeta,Año_inicio,Mes_inicio,FechaInicio,Delito,Categoria,Sexo,Edad,TipoPersona,...,Mes_hecho,FechaHecho,HoraHecho,HoraInicio,alcaldia_hechos,municipio_hechos,colonia_datos,fgj_colonia_registro,latitud,longitud
0,1,8828667,2021,Enero,2021-01-01,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,Femenino,59.00000,FISICA,...,Diciembre,2020-12-31,22:00:00,00:02:21,LA MAGDALENA CONTRERAS,NaN,LA CRUZ,LA CRUZ,19.309708,-99.234309
1,2,8828674,2021,Enero,2021-01-01,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,Femenino,38.16201,FISICA,...,Enero,2021-01-01,00:15:00,00:57:55,MILPA ALTA,NaN,VILLA MILPA ALTA (PBLO),SANTA MARTHA (VILLA MILPA ALTA),19.198153,-99.026277
2,3,8828679,2021,Enero,2021-01-01,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,Femenino,31.00000,FISICA,...,Enero,2021-01-01,00:55:00,01:28:32,MILPA ALTA,NaN,SAN SALVADOR CUAUHTENCO (PBLO),SAN SALVADOR CUAUHTENCO SECCION III,19.193027,-99.095006
3,4,8828694,2021,Enero,2021-01-01,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,Femenino,44.00000,FISICA,...,Enero,2021-01-01,01:45:00,06:03:38,COYOACAN,NaN,LOS REYES (PBLO),PUEBLO DE LOS REYES,19.336963,-99.152265
4,5,8828698,2021,Enero,2021-01-01,VIOLENCIA FAMILIAR,DELITO DE BAJO IMPACTO,Femenino,27.00000,FISICA,...,Enero,2021-01-01,06:00:00,07:27:16,GUSTAVO A. MADERO,NaN,LUIS DONALDO COLOSIO,LUIS DONALDO COLOSIO,19.561525,-99.146590

In [58]:
#recalculo los faltantes
datos_faltantes = datos['Edad'].isnull().sum()
#recalculo la media
media = datos["Edad"].mean()
#regreso valores recalculados y verifico
print(f"Datos faltantes en la columna Edad: {datos_faltantes}, con media: {media}")

Datos faltantes en la columna Edad: 0, con media: 38.16201033405432

### b.2) Eliminar datos repetidos

In [59]:
#reviso si hay duplicados con base en idCarpeta, no me quedo con los duplicados
datos = datos[~datos['idCarpeta'].duplicated(keep=False)]
#Vuelvo a revisar la dimensionalidad de mi base de datos
datos.shape

(68652, 23)

### b.3) Eliminar columnas que no me aportan información

In [60]:
#eleimino columna municipio_hechos
datos = datos.drop('municipio_hechos', axis=1)
datos.shape

(68652, 22)

### b.4) Limpiar direcciones (colonia)

In [31]:
datos["colonia_datos"]

0                                  LA CRUZ
1                       VILLA MILPA ALTA )
2                SAN SALVADOR CUAUHTENCO )
3                              LOS REYES )
4                     LUIS DONALDO COLOSIO
                       ...
77187              ARAGON LA VILLA ARAGON)
77188                           MORELOS II
77189                            MALACATES
77190    VERGEL DE COYOACAN-VERGEL DEL SUR
77191    VERGEL DE COYOACAN-VERGEL DEL SUR
Name: colonia_datos, Length: 77192, dtype: object

In [33]:
#quito el paréntesis y todo lo que tiene dentro para dejar el nombre de la colonia limpio
datos["colonia_datos"] = datos["colonia_datos"].replace(r'\(.*\)', '', regex=True)
#veo los primeros y últimos datos de la columna de colonia_datos
datos["colonia_datos"]

0                                  LA CRUZ
1                        VILLA MILPA ALTA
2                 SAN SALVADOR CUAUHTENCO
3                               LOS REYES
4                     LUIS DONALDO COLOSIO
                       ...
77187                     ARAGON LA VILLA
77188                           MORELOS II
77189                            MALACATES
77190    VERGEL DE COYOACAN-VERGEL DEL SUR
77191    VERGEL DE COYOACAN-VERGEL DEL SUR
Name: colonia_datos, Length: 77192, dtype: object

### b.5) Exporta la base de datos que acabamos de manipular a tu computadora

In [ ]:
# Especificar la ruta y nombre del archivo CSV
ruta_archivo_csv = 'ruta/del/archivo/nombre_archivo.csv'
#asegúrate de cambiar la ruta de donde quieres se almacene el archivo

In [ ]:
datos.to_csv(ruta_archivo_csv, index=False)